<section class="nfts-section py-16">
  <div class="text-center">
    <h1 class="text-5xl font-bold">nfts.</h1>
    <p class="text-xl">list your creative works and get paid off them.</p>
  </div>

  <div class="nft-list grid grid-cols-3 gap-6 py-10">
    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/1.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/2.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/3.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/4.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/1.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/2.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/3.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/4.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/1.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/2.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/3.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/4.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/1.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>

    <div class="nft">
      <div class="nft-product-container">
        <span class="nft-tag">Sale</span>
        <img src="../../../assets/images/2.jpeg" alt="nft-product" />
        <button>Quick View</button>
      </div>

      <div class="nft-product-details">
        <p class="nft-title">Joe Byron's Face</p>
        <p class="nft-price">$12,000</p>
      </div>

      <button class="nft-cta">Add To Cart</button>
    </div>
  </div>
</section>
