@font-face {
  font-family: FontTextRegular;
  src: url("../../fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: FontTextMedium;
  src: url("../../fonts/DMSans-Medium.ttf");
}

@font-face {
  font-family: FontHeading;
  src: url("../../fonts/DMSans-Bold.ttf");
}
